<h1>Une offre de covoiturage correspondante a été publiée</h1>

<p>Bonjour,</p>

<p>Bonne nouvelle ! Une nouvelle offre de covoiturage vient d'être publiée et correspond à ta demande pour l'événement "<strong><%= @ride_request.event.name %></strong>".</p>

<p><a href="<%= event_offer_url(@offer.event, @offer, locale: I18n.locale) %>" class="button">Voir l'offre</a></p>

<p>Si le bouton ne fonctionne pas, copie le lien suivant dans ton navigateur :</p>
<div class="secret-link"><a href="<%= event_offer_url(@offer.event, @offer, locale: I18n.locale) %>"><%= event_offer_url(@offer.event, @offer, locale: I18n.locale) %></a></div>

<p>Il y a peut-être d'autres offres – tu trouveras toutes les offres pour cet événement ici :</p>

<p><a href="<%= event_url(@ride_request.event, locale: I18n.locale) %>"><%= event_url(@ride_request.event, locale: I18n.locale) %></a></p>

<p>Si tu ne souhaites plus recevoir de notifications pour cette demande, tu peux la supprimer avec le lien secret suivant :</p>

<% destroy_url = event_ride_request_destroy_url(@ride_request.event, @ride_request, token: @ride_request.token, locale: I18n.locale) %>
<p><a href="<%= destroy_url %>" class="button">Supprimer la demande de covoiturage</a></p>

<p>Si le bouton ne fonctionne pas, copie le lien suivant dans ton navigateur :</p>
<div class="secret-link"><a href="<%= destroy_url %>"><%= destroy_url %></a></div>

<p class="signoff">À bientôt, l'équipe HopHub.</p>
