.entry-row.row.g-2.align-items-stretch{id: "entry-#{entry.id}"}
  .col-12
    %button.accordion-button.collapsed.entry-summary{
      type: 'button',
      data: {bs_toggle: 'collapse', bs_target: "#entry-details-#{entry.id}"},
      aria: {expanded: 'false', controls: "entry-details-#{entry.id}"},
    }
      .entry-summary-grid
        .entry-name
          %b=entry.name
          -unless [:bicycle, :foot].include? entry.transport.to_sym or entry.seats == 0
            %span.text-muted.ms-1
              ="– #{pluralize(entry.seats, t('seat.one'), t('seat.other'))}"
          %span.ms-2
            %i{class: icon_class_for_transport(entry.transport)}
            %span.ms-1=t("transport.#{entry.transport}")
        .entry-time
          =l entry.date, format: :time
        .entry-route
          -if entry.is_way_there?
            %b=entry.location
            →
            =entry.event.name
          -else
            =entry.event.name
            →
            %b=entry.location
          -if entry.transport.to_sym == :car && entry.driver?
            %div
              %i.bi.bi-exclamation-triangle.me-1
              =t('driver-needed')

.row.accordion-collapse.collapse{
  id: "entry-details-#{entry.id}",
  "aria-labelledby": "entry-#{entry.id}"}
  .col-12
    .accordion-body.py-2.ps-4
      -unless entry.notes.blank?
        %span
          %i.bi.bi-info-circle.me-2
          =auto_link entry.notes
      .mt-2
        =link_to t('entry_contact.title'), event_entry_path(entry.event, entry), class: 'btn btn-outline-primary', role: 'button'
