.row.justify-content-center
  .col-12.col-lg-9
    %h1
      =t('offer')

      ="(" + t(@entry.direction) + ") — "
      =@entry.name

    %table.table.table-striped
      %tbody
        %tr
          %th= t('activerecord.fields.entry.name')
          %td= @entry.name

        %tr
          %th= t('activerecord.fields.entry.date')
          %td= l @entry.date, format: :long

        %tr
          %th= t('simple_form.labels.entry.transport')
          %td
            %i.mx-1{class: icon_class_for_transport(@entry.transport)}
            =t("transport.#{@entry.transport}")

            -if @entry.transport.to_sym == :car
              -if @entry.driver?
                %br
                %b
                  %i.bi.bi-exclamation-triangle.mx-1
                  =t('driver-needed')

        %tr
          -if @entry.is_way_there?
            %th=t('simple_form.labels.entry.starting-point')
          -else
            %th=t('simple_form.labels.entry.location')

          %td= @entry.location

        %tr
          %th= t('activerecord.fields.entry.notes')
          %td= auto_link @entry.notes

    =turbo_frame_tag 'entry_contact' do
      =simple_form_for [@event, @entry, @contact_email] do |f|
        %h2=t('entry_contact.title')
        %p= t('entry_contact.text', name: @entry.name)

        =f.input :name, hint: t('simple_form.hints.contact_email.name', name: @entry.name)
        =f.input :from, hint: t('simple_form.hints.contact_email.from', name: @entry.name)
        =f.input :text, as: :text,
          input_html: { rows: 5 },
          hint: t('simple_form.hints.contact_email.text', name: @entry.name)

        .row.mb-3
          .col-sm-3
          .col-sm-9
            %p
              %bi.bi-exclamation-triangle.mx-1.inline-block
              %small
                =t('entry_contact.warning', name: @entry.name)

        .row.mb-3
          .col-sm-3
          .col-sm-9
            =render 'altcha/widget',
              label: terms_and_conditions_prompt,
              verified: terms_and_conditions_accepted,
              error: @event.errors[:altcha].any?
            =f.error :altcha, class: 'altcha-error'

        .row.mb-3
          .col-sm-3
          .col-sm-9.col-lg-3
            =f.submit t('entry_contact.send'), class: 'btn btn-primary w-100 mt-1'

          .col-sm-9.col-lg-3
            =link_to event_entries_path(@entry.event, direction: @entry.direction),
              class: 'btn btn-default btn-outline-primary w-100 mt-1', role: 'button' do
              %i.bi.bi-arrow-left
              =@event.name
