.row.justify-content-center.align-items-center
  .col-12.col-lg-4.text-center
    =image_tag('logo.png', alt: 'logo', height: '250', width: '', id: 'logo', class: 'd-inline-block align-text-top')

  .col-12.col-lg-4.text-center.pt-4
    =image_tag('hophub.png', alt: 'logo-hophub', width: '300', id: 'logo-hophub', class: 'd-inline-block align-text-top')

.row.justify-content-center.mb-3
  .col-12.col-lg-9.text-center
    =link_to new_event_path, class: "btn btn-primary btn-lg my-3" do
      %i.bi.bi-calendar-plus.me-1
      = t("create_event.title")

.row.justify-content-center
  .col-12.col-lg-9
    .shadow.p-3.mb-5.bg-body.rounded
      %h1= t('welcome.title')
      -t('welcome.text').each do |text|
        %p= text

.row.justify-content-center
  .col-12.col-lg-9
    .shadow.p-3.mb-5.bg-body.rounded
      %h1= t('how-it-works.title')

      .how-it-works
        %h2
          %i.bi.bi-calendar-plus
          =t('how-it-works.create-event.title')
        %p=t('how-it-works.create-event.text')

        %h2
          %i{class: icon_class_for_entry_type(:offer)}
          =t('how-it-works.add-offer.title')
        %p=t('how-it-works.add-offer.text')

        %h2
          %i{class: icon_class_for_entry_type(:request)}
          =t('how-it-works.add-request.title')
        %p=t('how-it-works.add-request.text')

        %h2
          %i.bi.bi-chat-dots
          =t('how-it-works.match.title')
        %p=t('how-it-works.match.text')

        %h2
          %i.bi.bi-incognito
          =t('how-it-works.no-indexing.title')
        %p=t('how-it-works.no-indexing.text')

        %h2
          %i.bi.bi-trash
          =t('how-it-works.cleanup.title')
        %p=t('how-it-works.cleanup.text')

  .col-12.col-lg-9
    .shadow.p-3.mb-5.bg-body.rounded
      %h1= t('about.title')
      -t('about.text',
        tos: link_to(t('tos'), tos_path),
        privacy_policy: link_to(t('privacy_policy'), privacy_path),
        github_project: link_to('GitHub', 'https://github.com/HopHubProject')).each do |text|
        %p= text.html_safe

  -if @instance_info_text.present?
    .col-12.col-lg-9
      .shadow.p-3.mb-5.bg-body.rounded
        %h1= @instance_info_title
        = @instance_info_text.html_safe
