.row.justify-content-center
  .col-12.col-lg-9
    %h1= @event.name
    %small
      %i.bi.bi-calendar
      =t('event_valid_until', date: l(@event.end_date.to_date, format: :long_with_dow))

    .card-soft.p-3.mt-3
      .event-description
        =@description.html_safe

= render 'demand_signal'

=turbo_frame_tag 'offer' do
  .row.justify-content-center.my-4
    .col-12.col-md-8.col-lg-6.text-center
      %p.lead.mb-2= t('add_offer.offer_yourself')
      =link_to new_event_offer_path(@event), class: 'btn btn-primary btn-lg px-4', role: 'button' do
        %i.bi.bi-plus-lg.me-1
        =t('add_offer.title')
      .mt-3
        =link_to new_event_ride_request_path(@event), class: 'btn btn-outline-secondary btn-lg px-4', role: 'button' do
          %i.bi.bi-hand-thumbs-up.me-1
          =t('add_ride_request.title')

  -if @offers.any?
    -if @offers.count > 5
      =render 'filter_form', event: @event

    -if @filtered_offers.any?
      =render 'offers'
  -else
    .row.justify-content-center
      .col-12.col-lg-9.text-center
        %h2= t('no_offers.title')
        %p.mb-0= t('no_offers.text')
