<h1>Dein Event ist freigeschaltet</h1>

<p>Hallo,</p>

<p>Vielen Dank dass du HopHub benutzt!</p>

<p>Das Event "<strong><%= @event.name %></strong>" wurde bestätigt und ist jetzt aktiv.</p>

<p>Bitte teile den folgenden Link mit potenziell Teilnehmenden:</p>

<p><a href="<%= event_url(@event) %>" class="button">Eventseite ansehen</a></p>

<p>Falls der Button nicht funktioniert, kopiere den folgenden Link in deinen Browser:</p>
<div class="secret-link"><a href="<%= event_url(@event) %>"><%= event_url(@event) %></a></div>

<p>Falls du das Event aktualisieren oder löschen möchtest, benutze bitte den folgenden geheimen Link. Bitte behalte diesen Link für dich und teile ihn nicht mit anderen:</p>

<p><a href="<%= edit_event_url(@event, admin_token: @event.admin_token, locale: I18n.locale) %>" class="button">Event bearbeiten</a></p>

<p>Falls der Button nicht funktioniert, kopiere den folgenden Link in deinen Browser:</p>
<div class="secret-link"><a href="<%= edit_event_url(@event, admin_token: @event.admin_token, locale: I18n.locale) %>"><%= edit_event_url(@event, admin_token: @event.admin_token, locale: I18n.locale) %></a></div>

<p>Das Event und alle seine Angebote und Gesuche werden automatisch nach dem konfigurierten Enddatum (<strong><%= l @event.end_date.to_date, format: :long, locale: I18n.locale %></strong>) gelöscht.</p>

<p>Vielen Dank fürs Teilen, du bist toll!</p>

<p class="signoff">Liebe Grüße vom HopHub-Team.</p>
