<h1>Antwort auf deine DSGVO-Anfrage</h1>

<p>Hallo,</p>

<p>Vielen Dank für deine DSGVO-Anfrage.</p>

<% if @events.any? || @offers.any? %>
  <p>Auf Dein Auskunftsverlangen vom <strong><%= l DateTime.now.to_date, format: :long, locale: I18n.locale %></strong> bestätigen wir Dir, dass wir als Verantwortliche die folgenden mit deiner Emailaddresse verbundenen Daten speichern und verarbeiten:</p>

  <ul class="data-list">
    <% @events.each do |event| %>
      <li>
        <strong>Event "<%= event.name %>"</strong> (<%= event.id %>), angelegt am <%= l event.created_at.to_date, format: :long, locale: I18n.locale %><br>
        Um dieses Event zu löschen, benutze bitte den folgenden Link:
        <div class="secret-link"><a href="<%= edit_event_url(event, admin_token: event.admin_token, locale: I18n.locale) %>"><%= edit_event_url(event, admin_token: event.admin_token, locale: I18n.locale) %></a></div>
      </li>
    <% end %>

    <% @offers.each do |offer| %>
      <li>
        <strong>Angebot vom <%= l offer.created_at.to_date, format: :long, locale: I18n.locale %></strong><br>
        Transportmittel: <%= offer.transport %><br>
        Ort: <%= offer.location %><br>
        Um diesen Angebot zu löschen, benutze bitte den folgenden Link:
        <div class="secret-link"><a href="<%= edit_event_offer_url(offer.event, offer, token: offer.token, locale: I18n.locale) %>"><%= edit_event_offer_url(offer.event, offer, token: offer.token, locale: I18n.locale) %></a></div>
      </li>
    <% end %>
  </ul>

  <h2>Verarbeitungszweck</h2>
  <ul>
    <% @events.each do |event| %>
      <li>Organisation des Events "<%= event.name %>" (<%= event.id %>)</li>
    <% end %>
    <% @offers.each do |offer| %>
      <li>Organisation des Angebots "<%= offer.name %>" (<%= offer.id %>)</li>
    <% end %>
  </ul>

  <p>Als betroffene Person hast Du das Recht, uns gegenüber nach Maßgabe des Art. 16 DSGVO eine Berichtigung und nach Maßgabe des Art. 17 DSGVO und § 35 BDSG die Löschung Deiner Daten zu verlangen. Benutze dazu bitte die oben genannten Links.</p>

  <p>Du hast außerdem das Recht, nach Maßgabe des Art. 18 DSGVO die Verarbeitung Deiner Daten einschränken zu lassen. Da HopHub nur die Daten speichert, die für die Ausführung der Dienstleistung notwendig sind, ist eine Einschränkung der Verarbeitung nur durch Löschung der Daten möglich.</p>
<% else %>
  <p>Auf Dein Auskunftsverlangen vom <strong><%= l DateTime.now.to_date, format: :long, locale: I18n.locale %></strong> bestätigen wir Dir, dass wir als Verantwortliche keine mit deiner Emailaddresse verbundenen Daten speichern oder verarbeiten.</p>
<% end %>

<p class="signoff">Mit freundlichen Grüßen,<br>Das HopHub-Team.</p>
