<h1>Respuesta a tu solicitud RGPD</h1>

<p>Hola,</p>

<p>Gracias por tu solicitud de información sobre la RGPD.</p>

<% if @events.any? || @offers.any? %>
  <p>En respuesta a tu solicitud de información sobre <strong><%= l DateTime.now.to_date, format: :long, locale: I18n.locale %></strong>, te confirmamos que nosotros, como responsable, almacenamos y procesamos los siguientes datos asociados con tu dirección de correo electrónico:</p>

  <ul class="data-list">
    <% @events.each do |event| %>
      <li>
        <strong>Evento "<%= event.name %>"</strong> (<%= event.id %>), creado el <%= l event.created_at.to_date, format: :long, locale: I18n.locale %><br>
        Para borrar este evento, por favor utiliza el siguiente enlace:
        <div class="secret-link"><a href="<%= edit_event_url(event, admin_token: event.admin_token, locale: I18n.locale) %>"><%= edit_event_url(event, admin_token: event.admin_token, locale: I18n.locale) %></a></div>
      </li>
    <% end %>

    <% @offers.each do |offer| %>
      <li>
        <strong>Oferta del <%= l offer.created_at.to_date, format: :long, locale: I18n.locale %></strong><br>
        Transporte: <%= offer.transport %><br>
        Lugar: <%= offer.location %><br>
        Para borrar esta oferta, por favor utiliza el siguiente enlace:
        <div class="secret-link"><a href="<%= edit_event_offer_url(offer.event, offer, token: offer.token, locale: I18n.locale) %>"><%= edit_event_offer_url(offer.event, offer, token: offer.token, locale: I18n.locale) %></a></div>
      </li>
    <% end %>
  </ul>

  <h2>Propósitos del procesamiento</h2>
  <ul>
    <% @events.each do |event| %>
      <li>Organización del evento "<%= event.name %>" (<%= event.id %>)</li>
    <% end %>
    <% @offers.each do |offer| %>
      <li>Organización de la oferta "<%= offer.name %>" (<%= offer.id %>)</li>
    <% end %>
  </ul>

  <p>Como sujeto de datos, tienes el derecho de solicitarnos que corrijamos tus datos de acuerdo con el Art. 16 del RGPD y de solicitar la eliminación de tus datos de acuerdo con el Art. 17 del RGPD y el § 35 del BDSG. Por favor, utiliza los enlaces mencionados anteriormente para este fin.</p>

  <p>También tienes el derecho de restringir el procesamiento de tus datos de acuerdo con el Art. 18 del RGPD. Dado que HopHub solo almacena los datos que son necesarios para la ejecución del servicio, una restricción del procesamiento solo es posible mediante la eliminación de los datos.</p>
<% else %>
  <p>En respuesta a tu solicitud de información sobre <strong><%= l DateTime.now.to_date, format: :long, locale: I18n.locale %></strong>, te confirmamos que nosotros, como responsable, no almacenamos ni procesamos ningún dato asociado con tu dirección de correo electrónico.</p>
<% end %>

<p class="signoff">Saludos,<br>El equipo de HopHub.</p>
