<h1>Your GDPR inquiry response</h1>

<p>Hi,</p>

<p>Thanks a lot for your GDPR inquiry request.</p>

<% if @events.any? || @offers.any? %>
  <p>In response to your request for information on <strong><%= l DateTime.now.to_date, format: :long, locale: I18n.locale %></strong>, we confirm that we, as the responsible party, store and process the following data associated with your email address:</p>

  <ul class="data-list">
    <% @events.each do |event| %>
      <li>
        <strong>Event "<%= event.name %>"</strong> (<%= event.id %>), created on <%= l event.created_at.to_date, format: :long, locale: I18n.locale %><br>
        To delete this event, please use the following button:
        <p><a href="<%= edit_event_url(event, admin_token: event.admin_token, locale: I18n.locale) %>" class="button">Delete event</a></p>
        <p>If the button doesn't work, copy this link into your browser:</p>
        <div class="secret-link"><a href="<%= edit_event_url(event, admin_token: event.admin_token, locale: I18n.locale) %>"><%= edit_event_url(event, admin_token: event.admin_token, locale: I18n.locale) %></a></div>
      </li>
    <% end %>

    <% @offers.each do |offer| %>
      <li>
        <strong>Offer from <%= l offer.created_at.to_date, format: :long, locale: I18n.locale %></strong><br>
        Transport: <%= offer.transport %><br>
        Location: <%= offer.location %><br>
        To delete this offer, please use the following button:
        <p><a href="<%= edit_event_offer_url(offer.event, offer, token: offer.token, locale: I18n.locale) %>" class="button">Delete offer</a></p>
        <p>If the button doesn't work, copy this link into your browser:</p>
        <div class="secret-link"><a href="<%= edit_event_offer_url(offer.event, offer, token: offer.token, locale: I18n.locale) %>"><%= edit_event_offer_url(offer.event, offer, token: offer.token, locale: I18n.locale) %></a></div>
      </li>
    <% end %>
  </ul>

  <h2>Purpose of processing</h2>
  <ul>
    <% @events.each do |event| %>
      <li>Organization of the event "<%= event.name %>" (<%= event.id %>)</li>
    <% end %>
    <% @offers.each do |offer| %>
      <li>Organization of the offer "<%= offer.name %>" (<%= offer.id %>)</li>
    <% end %>
  </ul>

  <p>As the data subject, you have the right to request us to correct your data in accordance with Art. 16 GDPR and to request the deletion of your data in accordance with Art. 17 GDPR and § 35 BDSG. Please use the links mentioned above for this purpose.</p>

  <p>You also have the right to restrict the processing of your data in accordance with Art. 18 GDPR. Since HopHub only stores the data that is necessary for the execution of the service, a restriction of processing is only possible by deleting the data.</p>
<% else %>
  <p>In response to your request for information on <strong><%= l DateTime.now.to_date, format: :long, locale: I18n.locale %></strong>, we confirm that we, as the responsible party, do not store or process any data associated with your email address.</p>
<% end %>

<p class="signoff">Kind regards,<br>The HopHub team.</p>
