<h1>Dein Angebot ist freigeschaltet</h1>

<p>Hallo <%= @offer.name %>,</p>

<p>Vielen Dank dass du HopHub benutzt!</p>

<p>Dein Angebot für das Event "<strong><%= @offer.event.name %></strong>" wurde bestätigt und ist jetzt aktiv und hier zu sehen:</p>

<p><a href="<%= event_offer_url(@offer.event, @offer) %>" class="button">Angebot ansehen</a></p>

<% if @notified_count.to_i > 0 %>
  <p><%= t('mail.offer.confirmed.notified', count: @notified_count) %></p>
<% end %>

<p>Wenn du dein Angebot bearbeiten oder löschen möchtest, benutze bitte den folgenden geheimen Link. Bitte behalte diesen Link für dich und teile ihn nicht mit anderen:</p>

<div class="secret-link"><a href="<%= edit_event_offer_url(@offer.event, @offer, token: @offer.token, locale: I18n.locale) %>"><%= edit_event_offer_url(@offer.event, @offer, token: @offer.token, locale: I18n.locale) %></a></div>

<p>Dein Angebot wird automatisch nach dem von dir gesetzten Datum gelöscht, oder wenn das Event endet.</p>

<p>Viel Spaß beim Mitfahren, du bist toll!</p>

<p class="signoff">Liebe Grüße vom HopHub-Team.</p>
