<h1>Tu oferta está activa</h1>

<p>Hola <%= @offer.name %>,</p>

<p>¡Gracias por usar HopHub!</p>

<p>Tu oferta para el evento "<strong><%= @offer.event.name %></strong>" ha sido confirmado y ahora está activo y se puede ver aquí:</p>

<p><a href="<%= event_offer_url(@offer.event, @offer) %>" class="button">Ver tu oferta</a></p>

<% if @notified_count.to_i > 0 %>
  <p><%= t('mail.offer.confirmed.notified', count: @notified_count) %></p>
<% end %>

<p>Si deseas editar o eliminar tu oferta, por favor usa el siguiente enlace secreto. Por favor, mantén este enlace para ti y no lo compartas con otros:</p>

<div class="secret-link"><a href="<%= edit_event_offer_url(@offer.event, @offer, token: @offer.token, locale: I18n.locale) %>"><%= edit_event_offer_url(@offer.event, @offer, token: @offer.token, locale: I18n.locale) %></a></div>

<p>Tu oferta se eliminará automáticamente después de la fecha que hayas establecido, o cuando el evento termine.</p>

<p>¡Disfruta del viaje, eres genial!</p>

<p class="signoff">Saludos del equipo de HopHub.</p>
