<h1>Nuevo mensaje en HopHub</h1>

<p>Hola <%= @offer.name %>,</p>

<p><strong><%= @name %></strong> te ha enviado un mensaje en HopHub, y este es el contenido:</p>

<div class="quote"><%= @text %></div>

<p>Puedes responder a este mensaje para comunicarte directamente con <%= @name %>.</p>

<p>Tu oferta para el evento "<strong><%= @offer.event.name %></strong>" sigue activo y visible aquí:</p>

<p><a href="<%= event_offer_url(@offer.event, @offer) %>" class="button">Ver tu oferta</a></p>

<p>Si tu oferta ya no es válido, por favor usa el enlace secreto de tu correo de confirmación para editarlo o eliminarlo.</p>

<p>¡Disfruta del viaje, eres genial!</p>

<p class="signoff">Saludos del equipo de HopHub.</p>
