<h1>Bitte bestätige dein Angebot</h1>

<p>Hallo <%= @offer.name %>,</p>

<p>Bitte bestätige dein Angebot für das Event "<strong><%= @offer.event.name %></strong>" indem du auf den Button unten klickst:</p>

<p><a href="<%= event_offer_confirm_url(@offer.event, @offer, token: @offer.token, locale: I18n.locale) %>" class="button">Angebot bestätigen</a></p>

<p>Falls der Button nicht funktioniert, kopiere den folgenden Link in deinen Browser:</p>
<div class="secret-link"><a href="<%= event_offer_confirm_url(@offer.event, @offer, token: @offer.token, locale: I18n.locale) %>"><%= event_offer_confirm_url(@offer.event, @offer, token: @offer.token, locale: I18n.locale) %></a></div>

<p>Falls du keine Ahnung hast, worum es in dieser E-Mail geht, ignoriere sie einfach und mach was irgendwas anderes.</p>

<p class="signoff">Liebe Grüße vom HopHub-Team.</p>
