<h1>Please confirm your offer</h1>

<p>Hi <%= @offer.name %>,</p>

<p>Please confirm your offer for the event "<strong><%= @offer.event.name %></strong>" by clicking the button below:</p>

<p><a href="<%= event_offer_confirm_url(@offer.event, @offer, token: @offer.token, locale: I18n.locale) %>" class="button">Confirm offer</a></p>

<p>If the button doesn't work, copy this link into your browser:</p>
<div class="secret-link"><a href="<%= event_offer_confirm_url(@offer.event, @offer, token: @offer.token, locale: I18n.locale) %>"><%= event_offer_confirm_url(@offer.event, @offer, token: @offer.token, locale: I18n.locale) %></a></div>

<p>If you have no idea what this email is about, please ignore it and do something else.</p>

<p class="signoff">Kind regards from the HopHub platform.</p>
